body {
  font-family: 'Pathway Gothic One', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  background: url("../img/blackboard2.jpg");
}

.container {
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
}

p {
  font-family: 'Merriweather', serif;
}

h1 {
  margin-bottom: 50px;
  font-size: 26px;
  color: #444;
}

h1 span {
  padding: 4px 0;
  border-bottom: 2px solid #edc356;
}
